@import url(https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,600&display=swap);

* {
    margin:0 ;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins",sans-serif;
    
}

body {
    min-height: 100vh;
    background-color: #000 !important;
    background-size: cover !important;
    background-position: center!important;
}

.header {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}


 

.logo{
    font-size: 32px;
    color: #fff;
    text-decoration: none;
    font-weight: 700;
}

.navbar a {
    position: relative;
font-size: 18px;
color: #fff;
font-weight: 500;
text-decoration: none;
margin-left: 40px;
}

.navbar a::before{
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 2px;
    background: #000000;
    transition: .3s;
}

.navbar a:hover::before{
    width: 100%;
}

.card{
    height: 100%;
    background: transparent !important;
    border:  3px solid #ddd !important;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.87);
    color: rgb(255, 255, 255);
    border-radius: 10px;

}

.card .card-title{
    font-size: medium;
    font-weight: 500;
    color: #fff;

}

.card-img{
    height: 100%;
}

.card-kategori{
    padding: 255px 0;
}


.btn-group {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.btn-group .btn {   
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    background: transparent !important;
    border:  2px solid #ddd !important;
    backdrop-filter: blur(20px);
    color: rgb(255, 255, 255);

}

.btn-group .btn:hover {
    background-color: #45a049; /* Warna latar hijau saat hover */
}

.btn-group .btn-secondary {
    background-color: #008CBA; /* Warna latar biru */
}

.btn-group .btn-secondary:hover {
    background-color: #0073e6; /* Warna latar biru saat hover */
}



